<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kismet Start/Create</title>
</head>
  <body>
    <h1>Welcome to the Kismet!</h1>
    <h2>Your journey is about to begin, but first you must choose your path</h2>
    <p>Please choose a character and give it a name:</p>
    <form action="game" method="POST">
      {% csrf_token %}
      {{ form }}
      <input type="radio" name="character" value="good" checked> Good<br>
      <input type="radio" name="character" value="evil"> Evil<br>
      <input type="radio" name="character" value="neutral"> Neutral<br>
      <br>
      Character Name: <input type="text" name="name"><br>
      <br>
      <input type="submit" value="Start Game">
    </form>
  </body>
</html>