<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Kismet</h2>
  <p>Before you start your journey please choose your path!</p>


<form method="POST" c>
  {% csrf_token %}
  <div>
    {{ form }}  <input type="submit" name="create" value="Create" />
    <p></p>
    <p><a href="{% url 'character_list' %}">Character List</a></p>
  </div>
</form>
</body>
</html>